:root {
    --color-1: #11091a; 
    --color-2: #1d192d; 
    --color-3: #2a263f; 
    --color-4: #2f2f4d; 
    --color-5: #4a4f5a; 
    --color-6: #767a81;
    --color-7: #bab195;
}


body {
    font-family: Arial, sans-serif;
    background-color: var(--color-1);
    color: var(--color-7);
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: var(--color-2);
    color: var(--color-7);
}

#filmes-lista {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}


.filme {
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.filme:hover {
    transform: scale(1.05);
}

.filme img {
    height: 500px;
    object-fit: cover;
    border-bottom: 2px solid var(--color-5);
}

.filme h2 {
    padding: 10px;
    text-align: center;
    background-color: var(--color-4);
    color: var(--color-7);
}

@media (max-width: 768px) {
    .filme {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .filme {
        width: 100%;
    }
}
